{% extends "base_layout.html" %}

{% block title %} СНТ "Флотское" - Контакты {% endblock %}

{% block content %}

{% with active_page='contects' %}
{% include "../navbar.html" %}
{% endwith %}

<main>

    {% if contacts_list %}
    {% for contact in contacts_list %}
    <div class="main-change"></div>
    <div class="contacts-transparency-div">
    <div class="main-div">
        <h2>{{ contact.job }}</h2>
        <p>{{ contact.name }}</p>
        <p>{{ contact.description }}</p>
        <p>{{ contact.email }}</p>
        <p>{{ contact.phone }}</p>
    </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="main-change"></div>
    <div class="contacts-transparency-div">
    <div class="main-div">
        <h2>Контакты не найдены</h2>
    </div>
    </div>
    {% endif %}

</main>

{% endblock %}
