{% extends "base_layout.html" %}

{% block title %} СНТ "Флотское" - Документы {% endblock %}

{% block content %}

{% with active_page='docs' %}
{% include "../navbar.html" %}
{% endwith %}

<main>
    {% if docs_list %}
    {% for doc in docs_list %}
    <div class="main-change"></div>
    <div class="main-transparency-div">
    <div class="main-div">
        <p>
            {{ doc.text }}
        </p>
        <p> {{ doc.date }}</p>
    </div>
    </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="main-change"></div>
    <div class="main-transparency-div">
    <div class="main-div">
        <p>
            Документов нет
        </p>
    </div>
    </div>
    </div>
    {% endif %}
</main>

{% endblock %}
