<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <style>
        body{
            background: url(src/image1.jpg) no-repeat center top;
            background-size: 100% auto;
        }
        header{
            background: transparent;
        }
        .name{
            color: var(--primary-color);
        }
        .contacts > p{
            color: var(--primary-color);
        }
    </style>
</head>
<body>
    <a href="/contacts.html" class="contacts-link">
    <header>
        <div class="contacts-div">
            <div class="name"><h1>СНТ "Флотское"</h1></div>
            <div class="contacts">
                <p>Контакты</p>
                <p>email</p>
                <p>+79000000000</p>
            </div>
            </div>
            <div class="header-change"></div>
    </header>
    </a>
    <main>
        <div class="login-div">
            <input class="login-input" type="text" placeholder="Логин" \>
            <input class="login-input" type="password" placeholder="Пароль" \>
            <div class="login-button-div">
                <button class="login-button login-button-family">Войти</button>
                <button class="back-button login-button-family">Назад</button>
            </div>
        </div>
    </main>
    <footer>
        &copy; <br>
    </footer>
</body>
</html>