{% extends "base_layout.html" %}

{% block title %} СНТ "Флотское" - Новости {% endblock %}

{% block content %}

{% with active_page='news' %}
{% include "../navbar.html" %}
{% endwith %}

<main>
    {% if news_list %}
    {% for news in news_list %}
    <div class="main-change"></div>
    <div class="main-transparency-div">
    <div class="main-div">
        {{ news.title }}
        <p>
            {{ news.text }}
        </p>
    </div>
    </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="main-change"></div>
    <div class="main-transparency-div">
    <div class="main-div">
        <p>
            Новостей нет
        </p>
    </div>
    </div>
    </div>
    {% endif %}
</main>

{% endblock %}
