* {
    padding: 0;
    margin: 0;
}

:root{
--bg-color: #edfcf4e0;
--text-color: #637C6F;
--primary-color: #dd5c20;
--secondary-color: #d8fdb4;
--accent-color: #fbff00; 
}

p, a {
  font-weight: 500;
  color: var(--text-color);
}

.title {
  text-align: center; 
}

nav:not(.carousel-div){
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: space-around;
    justify-content: space-evenly; 
    border: var(--primary-color) solid 2px; 
}

nav > a {
  font-size:larger;
  text-decoration: none;
  font-weight: 700;
  color: var(--text-color);
  text-align: center; 
}

nav > a:hover:not(.nav-icon-chosen) {
  transition: 0.3s;
  color: var(--primary-color); 
}

.home-icon {
    flex: 1 1 content; 
}
  
.nav-icon {
    flex-grow: 3; 
}
  
.nav-icon:not(.last-icon), .home-icon {
    border-right: var(--primary-color) dashed 1px; 
}
.nav-icon-chosen{
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.45);
  background-color: var(--secondary-color);
}

body{
    transition: all 0.8s;
    margin: 0px;
    resize: both;
    font-size: 20px;
    background-color: var(--bg-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--text-color);
}
#main-page{
  animation: entranceAnim 1s ease 0s 1 normal forwards; }

@keyframes entranceAnim {
    0% {
      opacity: 0;
      transform: scale(0.6); }
    100% {
      opacity: 1;
      transform: scale(1); } 
}

header{
  background: url(src/header.jpg) no-repeat center top;
  background-size: 100% auto;}
.contacts-link{
  color: transparent;
}
p{
  margin: 2% 0 2% 0;
}
.contacts-link p{
  color:var(--accent-color) ;
}
.name{
  flex: 1 1 content;
  display: flex;
  align-items: center;
  justify-content: center; 
  font-size:x-large;
  padding-right: 5%;
  color:var(--accent-color) ;
}
.contacts-div{
  margin-left: 15%;
  width: 70%;
  display: flex;
  flex-direction: row;
}
.contacts{
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
}
.header-change{
  padding-bottom: 1%;
  background: linear-gradient( transparent 0%, var(--bg-color) 100%);
}

main:not(#galery-main){
  background-attachment: fixed;
}
.main-change{
  padding-top: 1%;
  background: linear-gradient( var(--bg-color) 0%, transparent 100%);
}
.contacts-transparency-div{
  margin-left: 15%;
  padding: 1% 1% 1% 5%;
  border-radius: 30px;
  background-color: var(--bg-color);
  width: 70%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.main-transparency-div{
  border-radius: 30px;
  margin-left: 15%;
  background: linear-gradient(90deg, transparent 0%, var(--bg-color) 2%, var(--bg-color) 98%, transparent 100% );
  width: 70%;
}
.main-div{
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 4%;
  width: 92%;
  background-color: transparent;
  flex-direction: column;
}

.login-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-top: 10vh;
  margin-left: 30%;
  width: 40%;
  background-color: var(--bg-color);
  border-radius: 30px
}
.login-input{
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 1%;
  width: 80%;
  border-radius: 10px;
  color: var(--text-color);
  font-size: large;
}
.login-button-div{
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.login-button-family{
  margin: 2%;
  padding: 1%;
  font-size: x-large;
  width: 100%;
  border-radius: 10px;
}
.login-button{
  background-color: var(--secondary-color);
  color: var(--text-color);
}
.back-button{
  background-color: var(--primary-color);
  color: var(--text-color);
}

::-webkit-scrollbar {
  width: 0px; 
}