<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>СНТ "Флотское" - {% block title %} {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <style>
        main{
            background: url("{{ main_image }}") no-repeat center top;
            background-size: cover;
        }
    </style>
</head>
<body id="main-page">
    <a href="{% url 'contacts' %}" class="contacts-link">
    <header>    
        <div class="contacts-div">
        <div class="name"><h1>СНТ "Флотское"</h1></div>
        <div class="contacts">
            {% if contact %}
            <p>{{ contact.name }}</p>
            <p>{{ contact.email }}</p>
            <p>{{ contact.phone }}</p>
            {% else %}            
            <p>Контакты не найдены</p>
            {% endif %}
        </div>
        </div>
        <div class="header-change"></div>
    </header> 
    </a>

    {% block content %} {% endblock %}

    <footer>
        &copy; 
    </footer>
</body>
<!-- <script src="{% static 'script.js' %}"></script> -->
</html>